footer
  .footer-left
    h2
      a(href='./index.html') RentMeNow
    p
      | Rent your new car or motorcycle today with ease and start a new
      | adventure! price starts at as low as 10$ per day.
    p &copy; 2021-2022 - Built with &hearts; from Kazuma in YouCode!
  .footer-right
    h3 Links
    nav
      ul
        block active-footer
          li.active
            a(href='./index.html') Home
          li
            a(href='./gallery.html') Gallery
          li
            a(href='./reservation.html') Reservation
          li
            a(href='./contact.html') Contact us
