// SEO
// Primary Meta Tags
title RentMeNow - Location des voitures
meta(name='title' content='RentMeNow - Location des voitures')
meta(name='description' content='Rent your new car or motorcycle today with ease and start a new adventure! price starts at as low as 10$ per day.')
// Open Graph / Facebook
meta(property='og:type' content='website')
meta(property='og:url' content='https://quirky-montalcini-3e6205.netlify.app/')
meta(property='og:title' content='RentMeNow - Location des voitures')
meta(property='og:description' content='Rent your new car or motorcycle today with ease and start a new adventure! price starts at as low as 10$ per day.')
meta(property='og:image' content='./assets/images/hero.jpeg')
// Twitter
meta(property='twitter:card' content='summary_large_image')
meta(property='twitter:url' content='https://quirky-montalcini-3e6205.netlify.app/')
meta(property='twitter:title' content='RentMeNow - Location des voitures')
meta(property='twitter:description' content='Rent your new car or motorcycle today with ease and start a new adventure! price starts at as low as 10$ per day.')
meta(property='twitter:image' content='./assets/images/hero.jpeg')
