/* UTILITIES */
$primary-color: #008080;
$secondary-color: #4c9e9e;

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: cursive;
}
a {
  text-decoration: none;
  color: #fff;
}
li {
  list-style: none;
}
button {
  border: none;
  outline: none;
  font-size: large;
  color: white;

  padding: 5px 14px;
  background-color: $primary-color;
  border-radius: 15px;
  transition: 0.3s ease;

  &:hover {
    background-color: $secondary-color;
    border-radius: 5px;
    transition: 0.3s ease;
  }

  &:disabled {
    background-color: $secondary-color;
  }
}
