#contact,
#reservation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 20px;
  margin: 0;

  .contact-left {
    flex-direction: column;
    padding: auto;
  }
  .contact-left,
  .contact-right {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form-verify {
    margin: 10px;
    padding: 5px;
    width: 100%;
    height: auto;
  }

  .form-group {
    margin: 10px 0;
    padding: 5px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

    fieldset {
      border: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-around;

      input[type="checkbox"] {
        display: inline-block;
        padding: 5px;
        margin: 10px 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1.2rem;
      }
    }

    input:not([type="checkbox"]),
    select {
      width: 100%;
      height: auto;
      padding: 5px;
      margin: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 1.2rem;
    }

    textarea {
      width: 100%;
      height: auto;
      padding: 5px;
      margin: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 1.2rem;
    }

    &.prix {
      justify-content: space-around;

      .input-group {
        width: auto;
        height: auto;
        font-size: 1.2rem;

        * {
          width: auto;
        }
      }
    }
  }
}

#reservation-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items:stretch;

}
