extend ./template.pug

block active-header
    li
        a(href='./index.html') Home
    li
        a(href='./gallery.html') Gallery
    li.active
        a(href='./reservation.html') Reservation
    li
        a(href='./contact.html') Contact us

block content
    section#reservation
        h2 Reservation 
        .reservation-form
            form(data-netlify='true')
                .form-group
                    label(for='vehicles') Vehicles
                    select#vehicles(name='vehicles' autofocus required)
                        option(value='moto') Moto
                        option(value='citadine') Citadine
                        option(value='compact') Compact
                        option(value='berline') Berline
                        option(value='utilitaire') Utilitaire
                        option(value='chantier') Engin de Chantier
                        option(value='camion') Camion
                .form-group
                    fieldset
                        legend Boite de Vitesse
                        input#manuelle(type='checkbox' name='bav')
                        label(for='manuelle') Manuelle
                        input#auto(type='checkbox' name='bav')
                        label(for='auto') Automatique
                .form-group
                    label(for='phone') Phone
                    input#phone(type='text' name='phone' placeholder='Enter your phone' required='')
                .form-group
                    label(for='message') Message
                    textarea#message(name='message' cols='30' rows='10' placeholder='Enter your message' required='')
                .form-verify(data-netlify-recaptcha='true')
                .form-group
                    button(type='submit') Send

block active-footer
    li
        a(href='./index.html') Home
    li
        a(href='./gallery.html') Gallery
    li.active
        a(href='./reservation.html') Reservation
    li
        a(href='./contact.html') Contact us