extend ./template.pug

block active-header
    li
        a(href='./index.html') Home
    li
        a(href='./gallery.html') Gallery
    li.active
        a(href='./reservation.html') Reservation
    li
        a(href='./contact.html') Contact us

block content
    section#reservation
        h2 Reservation 
        p
            | Calculate how much you have to pay for an awesome car or motorcycle.
            | We will help you to find the best price for you.
        .reservation-form
            form#reservation-form(data-netlify='true')
                .form-group
                    label(for='vehicles') Vehicles
                    select#vehicles(name='vehicles' autofocus required)
                        option(value='--') Select a vehicle
                        option(value='moto') Moto
                        option(value='citadine') Citadine
                        option(value='compact') Compact
                        option(value='berline') Berline
                        option(value='utilitaire') Utilitaire
                        option(value='chantier') Engin de Chantier
                        option(value='camion') Camion
                .form-group
                    fieldset
                        legend Boite de Vitesse
                        .checkbox
                            input#manuelle(type='checkbox' name='bav' value='manuelle')
                            label(for='manuelle') Manuelle
                        .checkbox
                            input#auto(type='checkbox' name='bav' value='auto')
                            label(for='auto') Automatique
                .form-group
                    label(for='moteur') Moteur
                    select#moteur(name='moteur' autofocus)
                        option(value='--') Select a moteur
                        option(value='electrique') Electrique
                        option(value='hybride') Hybride
                        option(value='essence') Essence
                        option(value='diesel') Diesel
                .form-group.prix
                    label(for='prix') Estimation prix
                    .input-group
                        input#prix(type='text' name='phone' placeholder='0,00' disabled)
                        span €

block active-footer
    li
        a(href='./index.html') Home
    li
        a(href='./gallery.html') Gallery
    li.active
        a(href='./reservation.html') Reservation
    li
        a(href='./contact.html') Contact us

block scripts
    script(src='./js/reservation.min.js')