@import "./base";
@import "./components/header";
@import "./components/hero-section";
@import "./components/mouse-animation";
@import "./components/gallery-section";
@import "./components/contact-us-section";
@import "./components/forms";
@import "./components/footer";
